<html>
  <head>
<title>Aman Dhal's Webserver</title>
 </head>
 <body>
<center>
    <h1>Created by Aman Dhal</h1>
</center>

<table border="5" bordercolor="grey" align="center">
    <tr>
        <th colspan="3">DevOps Tools and Technologies</th> 
    </tr>
    <tr>
        <th>Ansible</th>
        <th>Terraform</th>
    </tr>
    <tr>
        <td><img src="ansible.png" alt="" border=3 height=200 width=300></img></th>
        <td><img src="terraform.png" alt="" border=3 height=200 width=300></img></th>
    </tr>
    <tr>
        <th>Docker</th>
        <th>Kubernetes</th>
    </tr>    
    <tr>
        <td>><img src="docker.png" alt="" border=3 height=200 width=300></img></th>
        <td><img src="kubernetes.svg" alt="" border=3 height=200 width=300></img></th>
    </tr>
</table>
  </body>
  <html>